{% extends "layout-main.html" %}
{% load static %}
{% block content %}

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <!-- Image Section -->
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid bg-white shadow rounded w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="{% static 'doixuan/assets/img/dichvu/buffet/lau2.jpg' %}" alt="About Image 1">
                                <img class="img-fluid bg-white shadow rounded w-100 wow fadeIn" data-wow-delay="0.2s" src="{% static 'doixuan/assets/img/dichvu/buffet/lau4.jpg' %}" alt="About Image 3">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid bg-white shadow rounded w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="{% static 'doixuan/assets/img/dichvu/buffet/lau5.webp' %}" alt="About Image 4">
                                <img class="img-fluid bg-white shadow rounded w-100 wow fadeIn" data-wow-delay="0.4s" src="{% static 'doixuan/assets/img/dichvu/buffet/lau6.jpeg' %}" alt="About Image 2">
                            </div>
                        </div>
                    </div>
                    <!-- Content Section -->
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="section-title mb-4">
                            <h1 class="display-6 text-dark">Trải Nghiệm Lẩu Nướng Hàn Quốc Chính Gốc</h1>
                        </div>
                        <div class="row g-3 mb-4 align-items-center">
                            <div class="col-sm-4">
                                <img class="img-fluid bg-white shadow rounded w-100" src="{% static 'doixuan/assets/img/dichvu/buffet/lau1.jpg' %}" alt="About Image 5">
                            </div>
                            <div class="col-sm-8">
                                
                                <p class="mb-0 text-muted">Những nồi lẩu của chúng tôi mang hương vị đặc trưng của Hàn Quốc đến bàn ăn của bạn. 
                                    Thưởng thức sự kết hợp hoàn hảo giữa các loại gia vị, nguyên liệu tươi ngon và nước lẩu đậm đà – 
                                    bí quyết làm nên sức hút khó cưỡng của lẩu Hàn Quốc trên khắp thế giới.</p>
                            </div>
                        </div>
                        <div class="border-top border-2 border-primary mb-4"></div>
                        <div class="row g-3 align-items-center">
                            <div class="col-sm-8">
                                <h5 class="text-dark">Lợi Ích Hằng Ngày Của Một Nồi Lẩu Hàn Quốc Chất Lượng</h5>
                                <p class="mb-0 text-muted">Lẩu Hàn Quốc không chỉ là một món ăn, mà còn là một phong cách sống. 
                                    Với sự kết hợp của các loại rau củ tươi, nước lẩu bổ dưỡng và gia vị truyền thống, 
                                    lẩu Hàn Quốc là lựa chọn hoàn hảo cho sức khỏe và tinh thần của bạn.</p>
                            </div>
                            <div class="col-sm-4">
                                <img class="img-fluid bg-white shadow rounded w-100" src="{% static 'doixuan/assets/img/dichvu/buffet/lau3.jpg' %}" alt="About Image 6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- About End -->
    
    
        <!-- Products Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row img-twice position-relative h-100">
                            <div class="col-6">
                                <img class="img-fluid rounded" src="{% static 'doixuan/assets/img/dichvu/buffet/viet1.jpg' %}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid rounded" src="{% static 'doixuan/assets/img/dichvu/buffet/viet2.webp' %}" alt="">
                            </div>
                            <div class="col-6 align-self-end">
                                <img class="img-fluid rounded" src="{% static 'doixuan/assets/img/dichvu/buffet/viet3.jpg' %}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid rounded" src="{% static 'doixuan/assets/img/dichvu/buffet/viet4.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="h-100">
                            <h1 class="display-6 mb-4">Chúng Tôi Mang Hương Vị Việt Nam Đến Từng Bữa Ăn</h1>
                            <p>Ẩm thực Việt Nam là sự kết hợp tinh tế giữa hương vị đậm đà và nguyên liệu tươi ngon. Từng món ăn được chế biến với sự tỉ mỉ, giữ trọn vẹn tinh hoa truyền thống.</p>
                            <p>Từ những món ăn quen thuộc như phở bò, bún chả, bánh mì cho đến cơm tấm, tất cả đều mang đến hương vị thân thuộc và đặc sắc của Việt Nam.</p>
                            <div class="row g-2 mb-4">
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Món ăn đậm chất truyền thống  
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Nguyên liệu tươi ngon tự nhiên 
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Phục vụ tận tình chu đáo 
                                </div>
                                <div class="col-sm-6">
                                    <i class="fa fa-check text-primary me-2"></i>Ẩm thực việt luôn bên bạn
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products End -->


        <div class="container-xxl bg-light my-6 py-6 mt-5">
            <div class="container">
                <div class="bg-primary text-light rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-4 align-items-center">
                        <div class="col-lg-6">
                            <p class="display-4 text-light mb-0">Đặt chỗ ngay</p>
                        </div>
                        <div class="col-lg-6 text-lg-end">
                            <div class="d-inline-flex align-items-center text-start">
                                <i class="fa fa-phone-alt fa-4x flex-shrink-0"></i>
                                <div class="ms-4">
                                    <p class="fs-1 fw-bold mb-0">0982548792</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="text-center mx-auto mb-3 wow fadeInUp py-4" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="display-6 mb-4">Tinh hoa ẩm thực Việt Nam</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                            <div class="text-center p-4">
                                <h3 class="mb-3">Phở bò</h3>
                                <span>Nước dùng đậm đà, bánh phở mềm mịn hòa quyện với vị thơm ngon của thịt bò tươi.</span>
                            </div>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid" src="{% static 'doixuan/assets/img/dichvu/buffet/phobo.jpg' %}" alt="">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                            <div class="text-center p-4">
                                <h3 class="mb-3">Bún chả</h3>
                                <span>Bún chả là sự kết hợp hoàn hảo của thịt, rau, nước mắm cùng bún tươi. Tất cả đều vừa đủ, tạo nên sức quyến rũ không thể chối từ.</span>
                            </div>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid" src="{% static 'doixuan/assets/img/dichvu/buffet/buncha.jpg' %}" alt="">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                            <div class="text-center p-4">
                                <h4 class="mb-3">Bánh mì</h4>
                                <span>Sự kết hợp hoàn hảo giữa lớp vỏ giòn tan, ruột bánh mềm mịn và sự đa dạng của nhân. Không chỉ là một món ăn thông thường, bánh mì đã trở thành một biểu tượng ẩm thực đặc trưng của đất nước.</span>
                            </div>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid" src="{% static 'doixuan/assets/img/dichvu/buffet/banhmi.png' %}" alt="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
{% endblock %}